body {
font-family: 'Arimo', sans-serif;
background: white;
}

#content, #content p, #content ul li, #content ul ul, #content li li {
line-height: 30px;
}

h1 {
margin-bottom: 0.5em;
margin-top: 0.2em;
color: #666;
font-weight: normal;
font-size: 3em;
line-height: 1em;
}

h2 {
margin-bottom: 0.3em;
margin-top: 1em;
color: #444;
font-weight: normal;
font-size: 2em;
line-height: 1.2em;
}

h3 {
margin-bottom: 0.3em;
margin-top: 1em;
font-weight: normal;
color: #111;
font-size: 1.6em;
line-height: 1.2em;
}

h5 {
font-size: 22px;
margin-bottom: -12px;
font-weight: normal;
}

a {
color: red;
text-decoration: none;
}

a:visited {
color: darkred;
}

a:hover {
text-decoration: underline;
}

a:active {
color: #000000;
}

pre {
line-height: 18px;
font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
font-size: 80%;
}

blockquote {
background: #f5f5f5;
border-left: 10px solid #ccc;
margin: 1.5em 20px;
padding: 10px 50px 10px 10px;
quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
color: #ccc;
content: open-quote;
font-size: 6em;
line-height: 0;
margin-right: 5px;
vertical-align: -42px;
}

blockquote:after {
color: #ccc;
content: close-quote;
font-size: 6em;
line-height: 12px;
margin-right: -35px;
vertical-align: -5px;
margin-top: 35px;
float: right;
}

blockquote p {
display: inline;
}

img {
border: 0;
}

.skipLinks {
position: absolute;
top: -1000px;
left: -1000px;
display: inline;
width: 0;
height: 0;
}

.buttonDiv {
border: 1px solid #9F9F9F;
cursor: pointer;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
font-size: 0.8em;
padding: 3px 5px;
display: inline;
}

.buttonDiv:hover {
border-color: #4C83AF;
}

.buttonDiv:after {
content: "\2192";
color:red;
font-size:150%;
}

dd {
font-size: 0.8em;
margin: -4px 0 0 0;
padding: 10px 5px 5px 5px;
line-height: 16px;
}

.imgBoxLeft {
cursor: pointer;
float: left;
border: 1px solid #DDDDDD; background-color: #FFF;
margin: 10px 32px 15px 0;
}

.imgBoxLeft dd {
font-size: 0.8em;
text-align: left;
margin: -4px 0 0 0;
padding: 10px 5px 5px 5px;
background: #ddd;
color: #000;
line-height: 16px;
cursor: default;
}

.imgBoxCenter {
cursor: pointer;
border: 1px solid #DDDDDD; background-color: #FFF;
margin: 10px auto 15px auto;
}

.imgBoxCenter dd {
font-size: 0.8em;
text-align: left;
margin: -4px 0 0 0;
padding: 10px 5px 5px 5px;
background: #ddd;
color: #000;
line-height: 16px;
cursor: default;
}

.imgBoxRight {
cursor: pointer;
float: right;
border: 1px solid #DDDDDD; background-color: #FFF;
margin: 10px 0 15px 32px;
}

.imgBoxRight dd {
font-size: 0.8em;
text-align: left;
margin: -4px 0 0 0;
padding: 10px 5px 5px 5px;
background: #ddd;
color: #000;
line-height: 16px;
cursor: default;
}

.freeImgLeft {
float: left;
padding-right: 32px;
padding-bottom: 22px;
}

.freeImgCenter {
margin: 10px auto 15px auto;
}

.freeImgRight {
float: right;
padding-left: 32px;
padding-bottom: 22px;
}

.clearing {
clear: both;
}

.noScript {
font-style: italic;
outline: 1px solid red;
}

.separator {
height: 1px;
width: 100%;
background: #ddd;
}

.mono {
display: inline;
font-family: "Courier New", Courier, monospace;
}

.stabiloboss {
display: inline;
background: gold;
}

.italic {
display: inline;
font-style: italic;
}

.bold {
display: inline;
font-weight: bold;
}

.veil {
display: none;
}

.mark {
border-left: 1px solid red;
padding-left: 7px;
}

.justify {
text-align: justify;
hyphens: auto;
}

.right {
text-align: right;
}

.center {
text-align: center;
}

.abbroracro {
border-bottom: 0px dotted;
cursor: help;
}

.hitshilite {
background-color: yellow;
}

.stayright {
margin-left: 234px;
}

.freecaption {
font-size: 0.8em;
line-height: 16px;
}

#homeclick {
position: absolute;
top: 0px;
left: 0px;
width: 800px;
height: 200px;
cursor: pointer;
}

#selectlanguage {
position: absolute;
top: 55px;
left: 822px;
font-size: 12px;
padding-left: 2px;
}

#selectlanguage a {
color: darkred;
text-decoration: none
}

#selectlanguage a:visited {
color: darkred;
}

#selectlanguage a:hover {
color: green;
}

#selectlanguage a:active {
color: #000000;
}

#sitesearch {
position: absolute;
position: absolute;
top: 22px;
left: 822px;
}

#search_Submit {
background: url(../images/lupe.svg) 0 0 no-repeat transparent;
border: none;
cursor: pointer;
width: 21px;
height: 20px;
}


#search_Input {
width: 120px;
border: 1px solid #ccc;
color: #6F6F6F;
background: #f3f3f3;
}

.superscript {
position: relative;
bottom: 0.5em;
font-size: 0.8em;
}

.subscript {
position: relative;
top: 0.3em;
font-size: 0.8em;
}

.largerblock {
font-size: 130%;
}

.smallerblock {
font-size: 70%;
line-height: 130%;
}

.larger {
font-size: 130%;
}

.smaller {
font-size: 70%;
line-height: 130%;
}

fieldset {
}

table {
}


/*CSS-Elements for "show content block [?:][:?] on click"*/
.showblockactivetab {
background: #eee;
padding: 4px;
border-top: 2px solid white;
border-bottom: 2px solid #eee;
border-left: 2px solid white;
border-right: 2px solid white;
opacity: 0.97;
margin-left: -2px;
}

.showblockinactivetab {
background: #ddd;
padding: 4px;
border-bottom: 2px solid white;
border-left: 2px solid #eee;
border-right: 2px solid #eee;
opacity: 0.97;
margin-left: -2px;
}

.showblockdivinner {
display: none;
width: 720px;
background: #f2f2f2;
padding: 4px;
position: absolute;
z-index: 999;
overflow-y: auto;
overflow-x: hidden;
padding: 0 15px 0 15px;
margin: 0 10px 1px 1px;
opacity: 0.97;
margin-left: -2px;
border-left: 2px solid white;
border-bottom: 2px solid white;
}

.showblockclose {
cursor: pointer;
float: right;
font-weight: bold;
margin-right: -14px;
margin-top: -9px;
color: #ddd;
height: 21px;
background: #666;
}

/*End of CSS-Elements for "show content block [?:][:?] on click"*/

/*CSS-Elements for "show content block [??:][:??] on click"*/
.showblock2activetab {
background: #eee;
padding: 4px;
border-top: 2px solid white;
border-bottom: 2px solid #eee;
border-left: 2px solid white;
border-right: 2px solid white;
opacity: 0.97;
margin-left: -2px;
}

.showblock2inactivetab {
background: #ddd;
padding: 4px;
border-bottom: 2px solid white;
border-left: 2px solid #eee;
border-right: 2px solid #eee;
opacity: 0.97;
margin-left: -2px;
}

.showblock2divinner {
display: none;
background: #f2f2f2;
padding: 4px;
padding: 0 15px 0 15px;
margin: 0 10px 1px 1px;
margin-left: -2px;
border-left: 2px solid white;
border-bottom: 2px solid white;
}

.showblock2close {
cursor: pointer;
float: right;
font-weight: bold;
margin-right: -14px;
margin-top: -9px;
color: #ddd;
height: 21px;
background: #666;
}

/*End of CSS-Elements for "show content block [??:][:??] on click"*/

div {
-webkit-overflow-scrolling: touch;
}



dt {
margin-bottom:-10px
} 